body{
	text-align: center;
	font-family: verdana;
}

#contenedor{
	text-align: left;
	margin: 0px auto;
	width: 900px;
	background-color: #F8F8FB;
}

#menu{
	width: 340px;
	float:left;
	text-align: right;
	padding: 10px;
}

#menu li{
	list-style: none;
}

#contenido{
	width: 500px;
	border-left: 1px solid black;
	float:left;
	text-align: left;
	padding: 10px;
}

#contenido h1{
	font-size: 30px;
	color:#1A0C0C;
}

#contenido p{
	font-size: 20px;
	color: #490101;
	text-align: justify;
	text-indent: 20px;
}

#menu a{
	text-decoration: none;
	font-size: 15px;
	color:#780000;
}

#menu a:hover{
	text-decoration: underline;
	font-size: 22px;
}

.limpiar{
	clear: both;
}