body{
	text-align: center;
}

#contenedor{
	text-align: left;
	margin: 0px auto;
	width: 900px;
	background-color: #D7D4F3;
	min-height: 400px;
}

#contenedor p{
	text-align: justify;
}

#contenedor img{
	float: left;
	margin: 0px 20px 20px 0px;
}

#contenedor img.f2{
	float: right;
	margin: 0px 0px 20px 20px;
}


#contenido #menu_iz{
	background-color: #F0C8C8;
	width: 150px;
	float: left;	
}
#contenido #central{
	background-color: #CB6F6F;
	width: 200px;
	float: left;
}
#contenido #menu_de{
	background-color: #FFE7E7;
	width: 150px;
	float: left;
}

.limpiar{
	clear: both;
}

#menu_sup li{
	float: left;
	list-style: none;
}