/*Estilos para la estructura principal*/
body{
	text-align: center;
	font-size: 40px;
}

#contenedor{
	text-align: left;
	width: 900px;
	margin: 0px auto;
	background-color: #A2F0D0;
	min-height: 500px;
}

/*Estilos de los diferentes bloques dentro de mi #contenedor*/
/*Estilo para el encabezado*/
#encabezado{
	background-color: #08F371;
	border: 1px solid #012A05;
}

#encabezado > h1{
	color: #CBF2D1;
	font-size: 100%;
	font-family: arial;
}

#encabezado > h1 > img{
	vertical-align: middle;
}

#encabezado > h1 > span{
	vertical-align: middle;
	margin-left: 40px;
}

#menu{
	background-color: #022108;
}
#menu a{
	color: #E1F9EB;
	font-size: 50%;
	text-decoration: none;
	margin: 15px;
}

#menu a:hover{
	text-decoration: underline;
	color: #5CFEA0;
}

.seccion h3{
	text-align: right;
	font-size: 75%;
}

.contenido p{
	text-align: justify;
	font-size: 60%;
	text-indent: 20px;
	margin: 30px;
}

#pie{
	background-color: #1E470A;
}

#pie h5{
	font-size: 65%;
	color: white;
}